.container-fluid
{
    padding: 0 auto;
}
.header {
    width: 100%;
    height: 80px;
    background-image: url('../img/logo.jpg');
    background-size: contain; 
    background-repeat: no-repeat; 
    background-position: center; 
}
.navbar.sticky-top{
    top: 0;
}
.collapse
{
    margin-top: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-style: solid;
    border-width: 5px; 
    border-color: rgba(224,224, 224, 0.3); 
}
.collapse ul li
{
    display: inline-block;
    margin-right: 40px;
    margin-left: 25px;
}
.nav-item a
{
    text-decoration: none;
    color: black;
    font-size: 110%;
    font-weight: 600;
}
.nav-item ul li a{
    color: white;
}
.nav-item ul  {
    background-color: black;
}

.footer{
display: flex;
}


.footerL
{
    flex: 1;
    border-style: solid;
    border-width: 2px; /* Độ dày của viền */
    border-color: rgba(224,224, 224, 0.3); /* Màu viền với độ trong suốt */
    text-align: center;
}
.footerL h1{
    font-size: 200%;
    font-weight: 500;
    margin-top: 15px;
}
.footerL a{
    margin-right: 40px;
}
.footerR
{
    flex:1;
    border-style: solid;
    border-width: 2px; /* Độ dày của viền */
    border-color: rgba(224,224, 224, 0.3); /* Màu viền với độ trong suốt */
}
.footer img
{
    width: 100%;
    height: 220px;
}
